@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
    --primeira-cor:#F4A261 #0000ff4a;
    --segunda-cor : #2A9D8F;
}

body {
    background-color: var(--segunda-cor);
    font-family: 'Dancing Script';
}
 
h1 {
    font-family: 'Crimson Text';
    color: var(--primeira-cor);
}